body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
}

.wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* header */
.header {
  background-color: rgb(225, 225, 169);
  width: 752px;
  height: 64px;
  text-align: center;
  position: relative;
  padding-top: 16px;
}

.logo-img {
  margin: auto;
}

.header img {
  display: block;
}

.header-profile {
  position: absolute;
  top: 20px;
  right: 4px;
}

/* main */
.main {
  background-color: pink;
  width: 750px;
}

/* main-search */
.search {
  width: 100%;
  position: relative;
}
.search-input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #fbfbf9;
}
.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: url(../asset/search.svg);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

/* footer */
.footer-wrap {
  background-color: rgb(164, 164, 232);
  height: 72px;
  width: 100vw;
}

.footer {
  width: 752px;
  height: inherit;
  background-color: rgb(114, 114, 234);
  margin: auto;
}
