@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --point-color: #0f9f49;
}

body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
}

.wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: Poppins;
}

/* header */
.header {
  width: 752px;
  height: 64px;
  text-align: center;
  position: relative;
  padding-top: 16px;
}

.logo-img {
  margin: auto;
}

.header img {
  display: block;
}

.header-profile {
  position: absolute;
  top: 20px;
  right: 4px;
}

/* main */
.main {
  width: 750px;
}

/* main-search */
.search {
  width: 100%;
  display: flex;
  background-color: #fff;
  margin-top: 40px;
}
.search-input {
  flex-grow: 1;
  height: 40px;
  border: none;
  background-color: #fbfbf9;
  color: #cac9c9;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding-left: 16px;
}

.search-input:focus {
  background: linear-gradient(#fbfbf9, #efefef);
  outline: none;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: url(../asset/search.svg);
  border: none;
}

/* categories */
.categories {
  list-style-type: none;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
}

.categories::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

.categories::-webkit-scrollbar-track {
  background: #fbfbf9;
}

.categories::-webkit-scrollbar-thumb {
  background: #dededd;
}

.category-btn {
  border: none;
  padding: 4px 16px 4px 6px;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 0px 8px 0px rgba(23, 40, 73, 0.05);
  margin: 8px;
}

.category-btn em {
  font-style: normal;
  text-transform: capitalize;
  line-height: 32px;
}

.category-btn img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
}

.category-btn:hover {
  outline: 1px solid var(--point-color);
}

.category-btn:focus {
  background: #e5f3eb;
}

/* card */

.cards-wrapper h2 {
  margin: 16px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 4px 28px 0px rgba(25, 33, 74, 0.1);
}

.card-img {
  position: relative;
}

.thumbnail {
  border-radius: 8px 8px 0 0;
}

.like {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.info-location img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* footer */
.footer-wrap {
  background-color: rgb(164, 164, 232);
  height: 72px;
  width: 100vw;
}

.footer {
  width: 752px;
  height: inherit;
  background-color: rgb(114, 114, 234);
  margin: auto;
}
